.BotPanel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    background-color: #2B2E40;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 20;
}

.BotPanel_button {
    display: flex;
    flex-direction: column;
    background-color: #3c285f;
    color: white;
    border-radius: 15px;
    padding: 10px 20px;
    margin: 10px;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #6d4f9d;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    max-width: 200px; /* Ограничение ширины */
    text-align: center;
}

.BotPanel_button:hover {
    background-color: #5e3b8e;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.BlacksmithPanel,
.WizardShopPanel,
.QuestPanel,
.LeadersPanel {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 60px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    z-index: 10;
    overflow-y: auto;
    max-height: calc(100vh - 120px); /* Адаптивная высота */
}
.button-image{
    width: 25%;
    height: auto;
    background-color: transparent;
}

.button-text {
    margin-bottom: 8px; /* отступ между текстом и изображением */
    font-size: 16px; /* размер шрифта текста */
    color: #000; /* цвет текста */
}