.ClickPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    padding: 20px; /* Дополнительные отступы для небольших экранов */
}

.TapButton {
    padding: 50px 100px; /* Уменьшил отступы для лучшей адаптации */
    font-size: 24px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s ease-in-out;
    text-align: center; /* Центрирование текста */
    max-width: 300px; /* Ограничение ширины */
    word-wrap: break-word; /* Перенос текста */
}

.TapButton:active {
    transform: scale(0.95);
}
