*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    width: 80%; /* 80% от ширины экрана */
    height: 50vh; /* 50% от высоты экрана */
    font-size: 2vw; /* Шрифт изменяется в зависимости от ширины окна */
}

@media (max-width: 768px) {
    body {
        margin: 0;
        font-size: 14px;
    }
    .button {
        width: 100%;
        padding: 10px;
    }
    .container {
        flex-direction: column;
        padding: 10px;
    }
}